.site-navigation {
    margin-left: 400px ;
}

li{
    width: 225px;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 120px;
    
}

a{
    text-decoration: none;
}

.right-blocks{
    display: inline-block;
    width: 420px;
    height: 610px;
    margin-right: 150px;
}

.left-blocks{
    display: inline-block;
    width: 480px;
    height: 610px;
    margin-left: 350px;
    margin-right: 60px;
}

.heading{
    color: #9c988f;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
}

.text{
    color: #707070;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}

.bigheading{
    color: #6b6b6b;
    font-family: 'Playfair Display', serif;
    font-size: 23px;
}

a:active{
    color: #23b9ff;
}

.button {
    display: inline-block;
    border-color: #5e5b5b;
    background: none;
    color: #3f3e3e;
    font-family: 'Playfair Display', serif;
    padding-left: 35px;
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    margin-bottom: 70px;
    margin-top: 60px;
    margin-left: 750px;
    font-size: 20px;
}